.features {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features__heading {
  margin-top: 0;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.features__list {
  display: grid;
  gap: 20px;

  margin-top: 31px;
  margin-bottom: 66px;
}

.features__sublist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.features__sublist .features__subitem:first-of-type {
  background-color: var(--background-positive);
}

.features__subitem {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: var(--background-negative);
  background-repeat: no-repeat;
  background-image: url("../../assets/icon-food.svg");
  background-position: top 20px left 20px;
}

.features__subitem--expired {
  background-image: url("../../assets/icon-expired.svg");
}

.features__subitem--natural {
  background-image: url("../../assets/icon-natural.svg");
}

.features__subitem--bad-meat {
  background-image: url("../../assets/icon-bad-meat.svg");
}

.features__item-heading {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 72px;

  font-weight: 700;
  font-size: 18px;
}

.features__item-heading::before {
  display: flex;

  margin-bottom: 4px;
  padding: 4px 10px;
  width: fit-content;

  font-weight: 400;
  font-size: 14px;

  color: #FFFFFF;

  background-color: var(--negative);

  content: "Фермерские продукты";
}

.features__item-description {
  margin-top: 24px;
  margin-bottom: 0;

  line-height: 27px;
}

.features__button {
  align-self: center;
}
