.hero {
  background-color: #D8ECFE;
}

.hero__wrapper {
  /* padding-top: 183px; */
  padding-top: 145px;
  /* padding-bottom: 183px; */
  padding-bottom: 165px;

  background-repeat: no-repeat;
  background-position: bottom -50px right 50px;
  background-image: url("../../assets/hero.svg");
}

.hero__heading {
  margin-top: 38px;
  margin-bottom: 24px;
  max-width: 60%;

  line-height: 51px;
  font-weight: 700;
  font-size: 44px;

  color: #333333;
}

.hero__description {
  max-width: 48%;

  line-height: 27px;
}
