body {
  margin: 0;
  min-width: 1280px;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  color: #333333;
}

* {
  box-sizing: border-box;
}

a, 
button {
  cursor: pointer;
}

a:hover,
button:hover {
  opacity: 0.8;
}

a:active,
button:active {
  opacity: 0.5;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1200px;
}

.center {
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 260px;
  height: 60px;

  font-weight: 700;
  font-size: 18px;

  color: #FFFFFF;

  background-color: #FC9B27;

  text-decoration: none;
}

.button:hover {
  background: #FC7427;
  box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.14);

  opacity: initial;
}

.button:active {
  background: #FC7427;
  box-shadow: none;

  opacity: initial;
}
