:root {
  --main-text-color: #333333;
  --color-2: #F6F6F6;
  --color-3: #D8ECFE;
  --background-positive: #E1EDCE;
  --positive: #88AA4D;
  --background-negative: #F8DDD7;
  --negative: #F75531;
  --color-8: #FC9B27;
}